rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /audio/{conversationId}/{fileName} {
      allow read, write: if signedIn();
    }

    match /images/{conversationId}/{fileName} {
      allow read, write: if signedIn();
    }

    match /videos/{conversationId}/{fileName} {
      allow read, write: if signedIn();
    }

    match /thumbnails/{conversationId}/{fileName} {
      allow read, write: if signedIn();
    }
  }
}
